# Add alternate package installation repositories
# https://visioneval.github.io/VisionEval-Packages
# jrawbits at github is the test online repository
https://jrawbits.github.io/VisionEval-Packages
# You can also set VE_REPOS environment variable to an alternate config file to use a locally built repo
# Put sometbing like the following uncommented line in ve-repos-dev.cnf
# file:N:/Git-Repos/VisionEval-Built-4.0/built/VE-4.0/ve-pkg-repo
# Then add this line to .Renviron:
# VE_REPOS=ve-repos-dev.cnf
# The startup will then use ve-repos-dev.cnf rather than ve-repos.cnf
