@echo off
set R_HOME_BASE=R_HOME_DEFAULT
rem Detect R version change by comparing R_HOME_BASE to R.home()
rem Warning: if R_HOME is set in the system environment, that will be used regardless of R_HOME_BASE
if "%R_HOME%" == "" set R_HOME=%R_HOME_BASE%
start %R_HOME%\bin\x64\RGui.exe --no-save
